primeri/TOCHEN PRIMER 26.6.xlsx
primeri/primerche.xlsx
primeri/gotova lista primer.xlsx
primeri/lista primer.xlsx
mejlovi.json
test.py
smtp_imap_test.py
credentials.jsoncredentials.json
credentials.json
=======
da se oprai.txt
credentials.json
smtp_imap_test.py
log.txt
oldlogs.txt
gtest.py
__pycache__
